---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const shaders = await getCollection('shaders');
---

<Layout>
	<ul>
		{shaders.map(({ slug }) => (
			<li>
				<a href={`/shaders/${slug}`}>{slug}</a>
			</li>
		))}
	</ul>
</Layout>
